button {
  background-color: #ff0303;
  border: 1px solid #ccc;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 5px;
  margin-top: 10px;
  color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
button:focus {
  outline: none;
  border-color: #7c0707;
  box-shadow: 0px 0px 10px #7c0707;
}
.box {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 800px;
  margin-top: 30px;
  margin-left: 10px;
}
#sequencia h3 {
  word-wrap: break-word;
}
input {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ccc;
  font-size: 16px;

  background-color: #fff;
}

input:focus {
  outline: none;
  border-color: #7c0707;
  box-shadow: 0px 0px 5px #7c0707;
}
